<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="../public/css/register.css">
</head>
<body>
    <form action="POST" action="/users/register">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre">
        <p>Hobbies</p>
        <% for (let i=1; i <= 10; i++) { %>
            <label for="hobbies[]"> Hobby <% i %></label>
            <% if (i % 2 == 0) { %>
                <input type="text" class="par" name="hobbies[]">
            <% } else { %>
                <input type="text" class="impar" name="hobbies[]">
            <% } %>
            <br>
        <% } %>
    </form>
</body>
</html>