<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Template engine</title>
    <style>
        body {font-family: sans-serif;}
    </style>
    <link rel="stylesheet" href="./public/css/register.css">
</head>    
<body>

    <ul>
        <% for (let i = 1; i < 23; i++) {          /* para poder usar codigo de JavaScript en HTML,  <% */
            <li>Soy el item número <% i %></li>    /* se escribe el codigo entre los simbolos :       %> */
        } %>
    </ul>

    <!-- otro ejemplo -->

    <form action="POST" action="/users/register">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre">
        <p>Hobbies</p>
        <input class="impar" type="text" name="hobbies[]">
        <input class="par" type="text" name="hobbies[]">
        <input class="impar" type="text" name="hobbies[]">
        <input class="par" type="text" name="hobbies[]">
    </form>
    
</body>
</html>